header{
    
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold" Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0;
    
}
header img{
    width: 150px;
}

 header h2{

    color: var(--primary-color);
    font-size: 15px;
    margin: 0 20px -10px ;
   box-sizing: border-box;
   
    text-shadow: 2px 2px 5px #ccc ;
}
 header h1{
    font-family:cursive;
    color: var(--primary-color);
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px #ccc ;
    box-sizing: border-box;
}
.text-color{
    color: var(--secondary-color);
}

